.artboard{
    width: 1480px; 
    margin: 0 auto;
}

.header-top {
    width: 1283px;
    height: 189px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.logo-link{
    text-decoration: none;
}

.logo-text {
    font-weight: 400px;
    font-size: 80px;
    color: #000;
    margin-bottom: 40px;
}

.text-logo-color {
    color: #4bcaff;
}

.bar-top{
    display: flex;
    background-color: #35444f;
    justify-content: space-around;
    width: 1280px;
    height: 69px;
    align-items: center;
    margin: 0;
}

.bar-top-item:hover{ 
    background-color:#222f3a;
    width: 153px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bar-top-item{
    list-style: none;
}

.bar-top-line{
    border: 1px solid #fff;
    height: 69px;
}

.topitem-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    color: #fff; 
}

.wrapper{
    display: flex;
    margin-top: 30px;
    width: 1283px;
    height: 832px;    
}

.aside-list{
    width: 344px;
    height: 399px;
    list-style: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    margin-right: 52px;
}

.aside-item:hover{ 
    background-color: #dbdbdb;
    width: 342px;
    height: 81px;
}

.aside-item{
   margin: 0;
   text-align: center;
   justify-content: center;
   line-height: 80px;
}

.asideitem-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;
    color: #495863;
}

.text-color{
    color: #485863;
}

.main-content{
    width: 880px;
    height: 832px;
}

.img-back {
    width: 880px;
    height: 529px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 1px solid black;
    margin: 0;   
}

.black-head{
    width: 320px;
    height: 381px; 
     
}

.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
    text-align:justify;
}

.footer-bar{
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-around;
    height: 69px;
    align-items: center;
    margin: 0%;
    margin-top: 21px;
    width: 1321px;
}

.nav-footer{
    display: flex;
    margin-top: 21px;
    margin-bottom: 20px;        
}

.nav-footer-item{
    list-style: none;
    margin: 10px;
}

.footeritem-link:hover{
    color: #3181a6;
}

.footeritem-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0c1927;
}

.copyright{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #010101;
}